*{
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 37);
    font-size: 16px;
    line-height: 1.5;
}

/* ================== Text Style ======================= */


h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}


p{
    font-weight: 400;
    line-height: 1.5;
}

.main{
    width: 25rem;
    margin: 0 auto;
}

/* ================== FORM ===================== */

form{

    margin: 1rem;
    position: relative;
    margin-top: 5rem;
    background-color: #f5f5f5;
    padding: 5rem 2rem 2rem 2rem;
    border: 1px solid #DDD;
}

.heading{
    display: block;
    position: absolute;
    padding: 1rem;
    background-color: white;
    left: 2rem;
    top: -4rem;
    border: 1px solid #DDD;

}

input{
    height: 3.5rem;
}

input, textarea{
    display:block;
    font-size: 1.4rem;
    line-height: 1.5;
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-top: 0.75rem;
}

textarea{
    height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}


label{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(10, 10, 10);
    line-height: 1.5;
    margin: 1rem 0;
}

.box{
    margin-bottom: 2rem;
}

.button{
    margin-top: 2rem;
    background-color: #F5F5F5;
    color: #F5F5F5;
    border-radius: 0.25rem;
}

@media only screen and (min-width: 35em){

    .main{
        width: 40rem;
    }
}

@media only screen and (min-width: 48em){

    .main{
        width: 50rem;
    }
}